GOOGLE_APPLICATION_CREDENTIALS=./google-services.json
GOOGLE_BUCKET_NAME=tedx-ps-recruitment-2025
GOOGLE_SHEET_ID="Copy Sheet ID here"


EMAIL_HOST=smtp.tedxpetalingstreet.com
EMAIL_PORT=587
EMAIL_FROM=donotreply@tedxpetalingstreet.com
EMAIL_PASSWORD=

MONGO_URI=mongodb+srv://jeromesocial1:gPEn0KmLnNLK4JbH@cluster0.vudg9.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0