EMAIL_HOST=smtp.tedxpetalingstreet.com
EMAIL_PORT=587
EMAIL_FROM=donotreply@tedxpetalingstreet.com
EMAIL_PASSWORD=

MONGO_URI=mongodb://root:example@localhost:27017?authSource=admin

SESSION_SECRET=50393d560afe3d70fa4e11dd49048cd558e86dbac6977db794b3d7d92b42ec73
